:root {
    --red: #e21234;
    --beige: #F5CBB9;
    --dark-beige: #C9867E;
    --white:  #FBF7F5;
    --black: #222427;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    color: var(--black);
    background-color: var(--white);

    margin: 0;
}

/* header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 70%;
    height: 128px;
}

.CGI_logo {
    width: 128px;
}

/* Animation CGI logo */

header > a:hover > .CGI_logo {
    animation: cgi-anim 1s ease-in-out;
}
@keyframes cgi-anim {
    0% {
        transform: rotate3d(0, 1, 0, 0deg);
    }
    50% {
        transform: rotate3d(0, 1, 0, 360deg) scale(1.1);
    }
    80% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

header nav {
    flex-grow: 1;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    list-style: none;
}

header nav li {
    flex-shrink: 0;
}

header nav li a {
    text-decoration: none;
    color: var(--red);
    padding: 12px;
    line-height: 44px;

    background-image: linear-gradient(to right, var(--red) 50%, rgba(226, 18, 53, 0.3) 50%);
    background-size: 200% 3px;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    transition: background-position .3s;
}

header nav li a:hover {
    background-position: 0% 100%;
}

/* main */

main {
    background-color: var(--dark-beige);
    width: 100%;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Règles première section */

.cest_quoi_cgi {
    width: 55%;
    margin-bottom: 30px;
}

.cest_quoi_cgi h1 {
    font-size: 3.2em;
}

.cest_quoi_cgi_div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.cest_quoi_cgi_div div {
    width: 230px;
}

.cest_quoi_cgi_div img {
    width: 64px;
    height: 64px;
}

.cest_quoi_cgi_div h2 {
    font-size: 2em;
    text-align: start;
}

/* Règles séparateur */

#separator {
    border: none;
    border-top: solid 1px rgba(128, 128, 128);
    border-radius: 20px;

    width: 66%;
}

/* Règles deuxième section */

.presentation_pages {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;

    width: 60%;
    margin-top: 36px;
}

.page_link {
    text-decoration: none;
    color: var(--black);
        
    flex-grow: 0;
    flex-basis: 280px;
    transition: all .3s;
}

.page_link:hover {
    transform: scale(1.05);
}

.presentation_pages:hover .page_link:not(:hover) {
    opacity: 0.6;
}

.presentation_pages div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: var(--beige);
    padding: 0 20px;
    border-radius: 5px;
}

.presentation_pages h2 {
    text-align: center;
}

.presentation_pages img {
    width: 230px;
    border-radius: 5px;
}

.presentation_pages p {
    width: 230px;
}

/* footer */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 70%;
}

footer nav {
    width: 30%;
    margin-top: 16px;
}

footer ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    list-style: none;
}

footer nav li {
    padding: 0;
}

footer nav a {
    display: inline-block;

    padding: 8px;
    border-radius: 5px;
    line-height: 0;

    transition: all 0.3s;
}

footer nav a:hover {
    background-color: var(--beige);
}

footer nav img {
    height: 32px;
    border-radius: 5px;
}

footer p {
    font-size: 9px;
    color: grey;
}
