/* ========================================================= */
/* Fichier de style pour la page culture_entreprise.html */
/* ========================================================= */

article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 80%;
}
