/* ========================================================= */
/* Fichier de style pour la page transition_ecologique.html */
/* ========================================================= */

article {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 40px;
  min-width: 500px;

  width: 50%;
}

article div {
  display: flex;
  align-items: center;
  gap: 20px;

  padding: 20px;
  border-radius: 5px;

  background-color: var(--beige);
}

article div:nth-child(2) {
  display: flex;
  flex-direction: column;
}

div img {
  width: 50%;
  border-radius: 5px;
}

div p {
  margin: 0;
  width: 50%;
}

#chiffres {
  width: 100%;
}