/* Règles premier article */

.cest_quoi_cgi {
  width: 55%;
  margin-bottom: 30px;
}

.cest_quoi_cgi h1 {
  font-size: 3.2em;
}

/* Règles pour l'image */
.cest_quoi_cgi_div1 {
  position: relative;
  margin-bottom: 20px;
}

.badge {
  font-size: xx-large;

  position: absolute;
  bottom: 0;
  left: 0;

  color: var(--white);
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 0 5px 0 5px;

  padding: 0.3em;
  margin: 0;
  margin-bottom: 4px;
}

#cgi {
  width: 80%;
  border-radius: 5px;
}

.cest_quoi_cgi_div2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.cest_quoi_cgi_div2 div {
  width: 30%;
  min-width: 230px;
  max-width: 400px;
}

.cest_quoi_cgi_div2 img {
  width: 64px;
  height: 64px;
}

.cest_quoi_cgi_div2 h2 {
  font-size: 2em;
  text-align: start;
}

/* Règles deuxième article */

.presentation_pages {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;

  width: 60%;
  margin-top: 36px;
}

.page_link {
  text-decoration: none;
  color: var(--black);

  flex-basis: 30%;
  min-width: 230px;
  max-width: 300px;

  transition: all 0.3s;
}

/* Animation page link */
.page_link:hover {
  transform: scale(1.05);
}

.presentation_pages:hover .page_link:not(:hover) {
  opacity: 0.6;
}

.presentation_pages div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background-color: var(--beige);
  padding: 0 20px;
  border-radius: 5px;

  height: 100%;
}

.presentation_pages h2 {
  text-align: center;
}

.presentation_pages img {
  width: 94%;
  border-radius: 5px;
}

.presentation_pages p {
  width: 94%;
}
