/* Règles premier article */

.cest_quoi_cgi {
  width: 55%;
  margin-bottom: 30px;
}

.cest_quoi_cgi h1 {
  font-size: 3.2em;
}

.cest_quoi_cgi_div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.cest_quoi_cgi_div div {
  width: 30%;
  min-width: 230px;
  max-width: 400px;
}

.cest_quoi_cgi_div img {
  width: 64px;
  height: 64px;
}

.cest_quoi_cgi_div h2 {
  font-size: 2em;
  text-align: start;
}

/* Règles deuxième article */

.presentation_pages {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;

  width: 60%;
  margin-top: 36px;
}

.page_link {
  text-decoration: none;
  color: var(--black);

  flex-basis: 30%;
  min-width: 230px;
  max-width: 300px;

  transition: all 0.3s;
}

/* Animation page link */
.page_link:hover {
  transform: scale(1.05);
}

.presentation_pages:hover .page_link:not(:hover) {
  opacity: 0.6;
}

.presentation_pages div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background-color: var(--beige);
  padding: 0 20px;
  border-radius: 5px;

  height: 100%;
}

.presentation_pages h2 {
  text-align: center;
}

.presentation_pages img {
  width: 94%;
  border-radius: 5px;
}

.presentation_pages p {
  width: 94%;
}
