/* ========================================================= */
/* Fichier de style pour la page structure&organisation.html */
/* ========================================================= */

article h1 {
    font-size: 48px;
    text-align: center;
}

/* Règles des SECTION */
.section1_structure {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section:first-child {
    border-bottom: 2px solid grey;
}

/* Rèlges organigramme */

.org {
    border-radius: 5px;
}