/* ========================================================= */
/* Fichier de style pour la page structure&organisation.html */
/* ========================================================= */

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;

  margin-bottom: 18px;
}

.org {
  background-color: var(--beige);
  padding: 26px;
  border-radius: 5px;
}
